<div class="ui container" style="margin-top: 2rem">

    <h2 class="ui header">
        <i class="boxes icon"></i>
        <div class="content">
            Paketübersicht
            <div class="sub header">Alle aktuellen Sendungen</div>
        </div>
    </h2>

    <div class="ui divided items">
        @for (s of shipments; track s.id) {
        <div class="item">

            <i class="large box icon"></i>

            <div class="content">
                <div class="header">
                    {{s.senderFullAddress}}→ {{s.receiverFullAddress}}
                </div>

                <div class="meta">
                    <span>Status: <strong>{{ s.status }}</strong></span>
                </div>

                <div class="description">
                    <p>Gewicht: {{ s.parcel?.weight }} kg</p>
                    <p>Größe: {{ s.parcel?.length }} x {{s.parcel?.width}} x {{ s.parcel?.height }} cm</p>
                </div>

                <div class="extra">
                    <button class="ui primary button">
                        <i class="search icon"></i>
                        Tracken
                    </button>

                    <button class="ui button">
                        <i class="info icon"></i>
                        Details
                    </button>
                </div>
            </div>

        </div>
        }
    </div>
</div>