<table class="ui celled table">
    <thead>
        <tr>
            <th>Typ</th>
            <th>Wert</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @for (c of contacts; track c.id) {
        <tr>
            <td>

                @if (c.cType === ContactType.Email) {
                <i class="envelope icon"></i>
                }

                @if (c.cType === ContactType.Phone) {
                <i class="phone icon"></i>
                }

                {{ c.cType != null ? ContactType[c.cType] : '' }}
            </td>



            <td>{{ c.data }}</td>
            <td>
                <button class="ui red button" (click)="onDelete(c.id)">
                    Löschen
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>