<h2>Benachrichtigungen:</h2>

<div>


    <form class="ui form">
        <div class="field">
            <label>Trackingnummer</label>
            <input type="text" [(ngModel)]="tracking.trackingId" name="notificationTrackingNumber">
        </div>

        <div class="field">
            <label>PLZ</label>
            <input type="number" [(ngModel)]="tracking.receiverAddress.zip" name="notificationZip">
        </div>

        <button class="ui primary button" type="button" (click)="trackingActivate()">
            <i class="bell icon"></i>
            Benachrichtigung aktivieren
        </button>

        <button class="ui red button" type="button" (click)="trackingDeactivate()">
            <i class="bell slash icon"></i>
            Benachrichtigung deaktivieren
        </button>
    </form>





    @if(successMessage){
    <div class="ui message green">
        {{ successMessage }}
    </div>
    }

    @if(errorMessage){
    <div class="ui message red">
        {{ errorMessage }}
    </div>
    }


</div>