<h2>Kontaktmöglichkeiten verwalten</h2>

<div class="ui segment">
    <form class="ui form" (ngSubmit)="addContact()">

        <!-- TYP -->
        <div class="field">
            <label>Typ</label>
            <select [(ngModel)]="newContact.cType" name="contactType" class="ui dropdown">

                <option [ngValue]="undefined">Bitte auswählen</option>

                @for (t of contactTypes; track t.value) {
                <option [ngValue]="t.value">
                    {{ t.label }}
                </option>
                }

            </select>
        </div>

        <!-- DATEN -->
        <div class="field">
            <label>Daten</label>
            <input type="text" [(ngModel)]="newContact.data" name="contactData" />
        </div>

        <button class="ui primary button" type="submit">
            Hinzufügen
        </button>

    </form>
</div>

<!-- LISTE -->
<contact-list [contacts]="contacts" (deleteContact)="deleteContact($event)">
</contact-list>