<h1>Willkommen bei DeliFHery</h1>

<nav class="clean-nav">

    @if (auth.isLoggedIn()) {
    <a routerLink="/price">Preis berechnen</a>
    <a routerLink="/shipment-create">Paket anmelden</a>
    <a routerLink="/contacts">Kontakte</a>
    <a routerLink="/notification">Benachrichtigungen</a>
    <a routerLink="/stats">Statistik</a>
    <a routerLink="/tracking">Tracking</a>
    <!-- <a routerLink="/payment">Paymentsucces</a> -->
    }

    @if (!auth.isLoggedIn()) {
    <button (click)="auth.login()" class="nav-button">Login</button>
    }
    @else {
    <button (click)="auth.logout()" class="nav-button logout">Logout</button>
    }

</nav>



<div style="padding: 2rem;">
    <router-outlet></router-outlet>
</div>